name: UNIX Timestamp Converter
on: [push, pull_request]
jobs:
  gradle_runner:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17
          cache: gradle

      - name: Make gradlew executable
        run: chmod +x ./gradlew
      - uses: gradle/gradle-build-action@v2
        with:
          arguments: clean build -x test

      - name: Execute Plugin Verifier
        run: gradle runPluginVerifier
